@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'epilogue-regular';
  src: url('../../public/fonts/Epilogue/static/Epilogue-Regular.ttf');
}

@font-face {
  font-family: 'epilogue-bold';
  src: url('../../public/fonts/Epilogue/static/Epilogue-Bold.ttf');
}

@font-face {
  font-family: 'epilogue-semiBold';
  src: url('../../public/fonts/Epilogue/static/Epilogue-SemiBold.ttf');
}



body {
  background: var(--background);
  font-family: 'epilogue-regular', sans-serif;
}
